<div class="page-titles">
    <ol class="breadcrumb">
        <li>
            <h5 class="bc-title">Add Notes</h5>
        </li>
        <li class="breadcrumb-item">
            <!-- <a href="javascript:void(0)">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z"
                        stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                Home </a> -->
        </li>
        <!-- <li class="breadcrumb-item active"><a href="javascript:void(0)">Projects</a></li> -->
    </ol>
    <a class="text-warning fs-13" data-bs-toggle="offcanvas" href="javascript:void(0)" 
        role="button" aria-controls="offcanvasExample1" data-bs-toggle="modal" data-bs-target="#basicModal">+ Add Notes</a>
</div>
<div style="margin: 20px;">
    <div class="row">
        <div class="card dz-card" id="list-tab">
            <div class="card-header flex-wrap d-flex justify-content-between le">
                <h4 class="card-title">List of Notes</h4>
                <hr />
                <!-- <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              style="width: 200px; height: 200px">
            </pdf-viewer> -->
                <div class="container-fluid mh-auto">
                    <div class="row">
                        <div *ngFor="let us of Notes" class="col-xl-2 col-md-4 col-sm-6">
                            
                            <div class="card">
                                
                                <div class="card-body">
                                    
                                    <div class="new-arrival-product">
                                        <div class="badge-container">
                                            <a href="javascript:void(0)" 
                                            class="badge badge-circle text-warning" (click)="getNotedelete(us.id)">X</a>
                                        </div>
                                        <div class="">
                                            <pdf-viewer [src]="pdfSrc"
                                             [render-text]="true"
                                             [original-size]="false"
                                             style="width: 100px; height: 100px">
                                            </pdf-viewer><!--pdfBlobUrl-->
                                        </div>
                                        <!-- <div class="">
                                            <button class="btn btn-warning " (click)="getPdf(us.pdf)" 
                                       style="margin-left:8px ;margin-top: 5px;">Veiw Notes</button>
                                        </div> -->
                                       
                                       
                                       <!-- <app-view-notes *ngIf="showPdfViewer" [pdfSrc]="selectedPdf"> -->
                                        <!-- <div *ngIf="showPdfViewer" [pdfSrc]="selectedPdf">
[routerLink]="['/pdf-viewer', selectedPdf]"
                                        </div> -->

                                       <!-- </app-view-notes> -->
                                        
                                            <!-- <img class="img-fluid" src="./assets/images/product/1.jpg" alt=""> -->
                                           
                                       
                                        <div class="new-arrival-content text-center mt-3">
                                            <h4><a href="javascript:void(0);"></a></h4>
                                            
                                            <span class="text-warning">{{us.chapter.chapter_name}}</span>
                                            <br/>
                                            <span class="badge badge-warning border-0 badge-sm"
                                            style="padding-bottom: 5px;" data-bs-toggle="modal" data-bs-target="#basicModal2"
                                            (click)="NewID(us.id)">Edit Notes</span>
                                        </div>
                                    </div>
                                    <div>
                                        <!--buttons-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--scnd-->
                        <!-- <div class="col-xl-2 col-md-4 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="new-arrival-product">
                                        <div class="new-arrivals-img-contnent">
                                            <img class="img-fluid" src="./assets/images/product/2.jpg" alt="">
                                        </div>
                                        <div class="new-arrival-content text-center mt-3">
                                            <h4><a href="ecom-product-detail.html">Striped Dress</a></h4>
                                            <ul class="star-rating">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                            <span class="price">$159.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!--scnd  ends-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal strt-->
<div class="modal fade" id="basicModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Notes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form [formGroup]="addNotes" (ngSubmit)="AddNotes(addNotes.value)">
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="title"  placeholder="Enter Title">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Chapter</label>
                            <div class="col-sm-9">
                                <select #dropdown class="me-sm-2 default-select form-control wide" 
                                id="inlineFormCustomSelect"  formControlName="chapter_id"                       
                                (change)="getSecondDropdown(dropdown.value)">
                                    <!-- <option selected>Choose...</option> -->
                                    <option selected *ngFor="let option1 of  chapterName" [value]="option1.id">
                                        {{option1.chapter_name}}</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label  class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-rounded btn-warning"(click)="selectFile()"><span
                                    class="btn-icon-start text-warning">
                                    <i class="fa fa-download color-warning"></i>
                                </span>From File</button>
                                <input type="file" #fileInput formControlName="pdf" style="display: none;" (change)="uploadFile($event)" accept=".pdf">
                            </div>
                        </div>
                        <!--show file name-->
                        <div *ngIf="selectedFile">
                            <p>Selected File: {{ selectedFile.name }}</p>
                          </div>
                        <!--end-->
                        <!-- <div class="mb-3 row">
                            <div class="mb-3">
								  <label for="formFile" class="form-label">Default file input example</label>
								  <input class="form-control" type="file" id="formFile">
								</div>
                            
                            
                        </div> -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Upload Notes</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Upload Notes</button>
            </div> -->
        </div>
    </div>
</div>
<!--modal ends-->
<!--second modal for edit notes-->
<!-- Modal -->
<div class="modal fade" id="basicModal2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Notes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                  <form [formGroup]="editNotes" (ngSubmit)="getUpdatedNotes(editNotes.value)">
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="title"  placeholder="Enter Title">
                        </div>
                    </div>
                    
                    <div class="mb-3 row">
                        <label  class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <button type="button" class="btn btn-rounded btn-warning"(click)="selectFile()">
                                <span
                                class="btn-icon-start text-warning">
                                <i class="fa fa-download color-warning"></i>
                            </span>From File</button>
                            <input type="file" #fileInput formControlName="pdf" 
                            style="display: none;" (change)="uploadFile($event)" accept=".pdf">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update Notes</button>
                    </div>
                       </form>
            </div>
           
        </div>
    </div>
</div>