<!-- <div class="StyleForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Registration Form</h4>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="basic-form">
                                <form [formGroup]="verifyMail" (ngSubmit)="GetVerify(verifyMail.value)" class="form-valide-with-icon needs-validation" novalidate>
                                    <div class="mb-3">
                                        <label class="text-label form-label" for="validationCustomUsername">Email Id</label>
                                        <div class="input-group">
                                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                            <input type="text" class="form-control" formControlName="email_id"
                                            id="validationCustomUsername" placeholder="Enter a mail id.." required>
                                            <div class="invalid-feedback">
                                                Please Enter a mail id.
                                              </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <button type="submit" class="btn me-2 btn-primary">Submit</button>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div> -->








<div class="d-flex justify-content-center align-items-center">
    <!-- style="position: absolute;top:0;right:0;bottom:0;left: 60%;width: 1000px;height: 600px;margin: auto;"-->
<div class="container-fluid FormStyle " >
  <div class="col-lg-3">

  </div> 
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-lg-6 ">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Verify Mail</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form [formGroup]="verifyMail" (ngSubmit)="GetVerify(verifyMail.value)" class="form-valide-with-icon needs-validation" novalidate>
                        <div class="mb-3">
                            <label class="text-label form-label" for="validationCustomUsername">Email Id</label>
                            <div class="input-group">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                <input type="text" class="form-control" formControlName="email_id"
                                id="validationCustomUsername" placeholder="Enter a mail id.." required>
                                <div class="invalid-feedback">
                                    Please Enter a mail id.
                                  </div>
                            </div>
                        </div>
                        
                        
                        <button type="submit" class="btn me-2 btn-warning">Submit</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    
  </div>
  <div class="col-lg-3">

  </div> 
</div>
</div>
<div >
    <div class="container-fluid FormStyle" *ngIf="show">
        <div class="col-lg-3">
      
        </div> 
        <div class="d-flex justify-content-center align-items-center">
          <div class="col-lg-6">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Password update!</h4>
                  </div>
                  <div class="card-body">
                      <div class="basic-form">
                          <form [formGroup]="verifyOTP" (ngSubmit)="GetVerifyOpt(verifyOTP.value)" class="form-valide-with-icon needs-validation" novalidate>
                              <div class="mb-3">
                                  <label class="text-label form-label" for="validationCustomUsername">Email Id</label>
                                  <div class="input-group">
                                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                      <input type="text" class="form-control" formControlName="email_id"
                                      id="validationCustomUsername" placeholder="Enter a mail id.." required>
                                      <div class="invalid-feedback">
                                          Please Enter a mail id.
                                        </div>
                                  </div>
                              </div>
                              <div class="mb-3">
                                  <label class="text-label form-label" for="dz-password">OTP</label>
                                  <div class="input-group transparent-append">
                                      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                      <input type="number" class="form-control" formControlName="otp"
                                      id="dz-password" 
                                      placeholder="Enter your otp" required>
                                      <span class="input-group-text show-pass"> 
                                          <i class="fa fa-eye-slash"></i>
                                          <i class="fa fa-eye"></i>
                                      </span>
                                      <div class="invalid-feedback">
                                          Please Enter a username.
                                      </div>
                                  </div>
                              </div>
                              <div class="mb-3">
                                <label class="text-label form-label" for="dz-password">New Password </label>
                                <div class="input-group transparent-append">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    <input type="password" class="form-control" formControlName="password"  id="dz-password" 
                                    placeholder="Choose a safe one.." required>
                                    <span class="input-group-text show-pass"> 
                                        <i class="fa fa-eye-slash"></i>
                                        <i class="fa fa-eye"></i>
                                    </span>
                                    <div class="invalid-feedback">
                                        Please Enter a username.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="text-label form-label" for="dz-password">Confirmed Password </label>
                                <div class="input-group transparent-append">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    <input type="password" class="form-control" formControlName="confirm_password"
                                    id="dz-password" placeholder="Choose a safe one.." required>
                                    <span class="input-group-text show-pass"> 
                                        <i class="fa fa-eye-slash"></i>
                                        <i class="fa fa-eye"></i>
                                    </span>
                                    <div class="invalid-feedback">
                                        Please Enter a username.
                                    </div>
                                </div>
                            </div>
                              
                              <button type="submit" class="btn me-2 btn-warning">Update</button>
                              
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          
        </div>
        <div class="col-lg-3">
      
        </div> 
      </div>
</div>
